.vscode

CMakeFiles
build_*/CMakeCache.txt
build_*/Makefile
build_*/QuEST
build_*/QuCF*
build_*/qsvt
build_*/qc_circuit
build_*/compute_angles
*archive*

tests/*/*_OUTPUT.hdf5
tests/*/*/*_OUTPUT.hdf5


*.png
*.jpg
*.pylog
*.clog
*.circuit
# *_OUTPUT.hdf5
*.pdf
*.eps
*.tgn
*.ris
*.log
*.cmake
*.tex

simulations/MI/QSVT-est-angles/est_mi_k*e5_*
simulations/MI/QSVT-est-angles/est_mi_k*e6_*
simulations/MI/QSVT-est-angles/est_mi_k*e7_*

simulations/MI/QSVT-est-angles/est_mi_k9*e4_*

# simulations/MI/QSVT-est-angles/est_mi_k5e5_*
# simulations/MI/QSVT-est-angles/est_mi_k1e6_*
# simulations/MI/QSVT-est-angles/est_mi_k5e6_*
# simulations/MI/QSVT-est-angles/est_mi_k1e7_*






