.vscode

CMakeFiles
build_*/CMakeCache.txt
build_*/Makefile
build_*/QuEST
build_*/QuCF*
build_*/qsvt
build_*/qc_circuit
build_*/compute_angles
*archive*


*.png
*.jpg
*.pylog
*.clog
*.circuit
*_OUTPUT.hdf5
*.pdf
*.eps
*.tgn
*.ris
*.log
*.cmake
*.tex






